doctype html
html
    head
        link(rel='stylesheet', href='vendor/katex/katex.min.css')
        link(rel='stylesheet', href='interface.css')
        script(src='algebra.js')
    body
        template#expression
            tr
                td.expression
                td.evaluation
            tr
                td(colspan=2).explanation
                    ul
                        li.rule
                        li.example
                        li.description

        table#answers
            tr
                td.expression a^2 + 2 * a * b + b^2
                td.evaluation

        input(type='text', value='a^2 + 2 * a * b + b^2')
        
        ul#actions
            li: a.button(href='#') ⏎
            li: a.button(href='#') ?
            li: a.button(href='#') review
