// NOTE: in the longer term, I'll be turning the interface into a separate 
// application, with the `algebra` application becoming a library that
// focuses entirely on parsing, analyzing and writing expressions.

body
    margin: 0 auto
    max-width: 600px
    font-size: 1.2em

input
    font-size: 1em
    width: 100%
    padding: 5px
    border: 2px solid #ccc

td
    padding: 0 0.2em

#question
    font-size: 1.4em

tr.mistake
    color: #f55

tr.solution
    color: #5f5
