doctype html
html
    head
        link(rel='stylesheet', href='vendor/katex/katex.min.css')
        link(rel='stylesheet', href='interface.css')
        script(src='vendor/underscore-min.js')
        script(src='vendor/jquery-2.1.4.min.js')
        script(src='algebra.js')
        script(src='interface.js')
        script(src='vendor/katex/katex.min.js')
    body
        p#question.math a^2 + 2 * a * b + b^2
        table#answers
            tr
                td.math a^2 + 2 * a * b + b^2
                td
        input(type='text', value='a^2 + 2 * a * b + b^2')

        a(href='#') review mistakes